@import "../../../../../styles/style.scss";

.today {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding: 10px;
    font-family: $font-title;
    
    &__banner {
        width: 100%;
        height: 100%;
        background: #fff;
        background-size: 4px 4px;
        text-align: left;
        box-shadow: 0 0 10px 1px #dc143c;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        // display: flex;
        // cursor: pointer;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2rem 1fr;
        
        &-title {
            background: crimson;
            // background-image: repeating-linear-gradient(45deg, #dc143c 0, #dc143c 0.4px, #ac1130da 0, #dc143c 50%);
            grid-column: 1/2;
            grid-row: 1/2;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
        }

        &-events {
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            padding: .5rem;


            &-event {
                width: 100%;
                height: 2rem;
                border-radius: .5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: .5rem;
                color: #fff;
                padding: 0 .5rem;

                &:hover {
                    opacity: 1 !important;
                    cursor: pointer;
                }

                label {
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: 600px ){
    .today {
        display: none;
    }
}
