@import "../../../../../styles/style.scss";


.post-list {

    height: 100%;
    width: 100%;
    &::-webkit-scrollbar {
        display: none;
    }

    &__box {
        position: relative;
        width: 100%;
        height: 7rem;
        margin-bottom: 10px;
        box-shadow: .2rem .2rem .5rem  rgb(133, 133, 133);
        overflow: hidden;
        
        img {
            position: absolute;
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            width: 100px;
            height: 100%;
            object-fit: cover;
        }

        &-username {
            font-family: $font-title;
            display: block;
            margin-left: 100px;
            align-content: center;

            &:first-of-type {
                color: green;
            }

            label {
                color: #000;
                margin-left: 3px;
            }
        }

        &-msg {
            font-family: $font-info;
            margin-left: 100px;
            padding: 3px;
            width: 75%;
            height: 100%;
            // background: red;
            overflow: auto;
    
            label {
                align-content: justify;
                font-size: 2rem;
            }
        }

        &-time {
            font-size: 1.3rem;
            font-family: $font-info;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 5px;
        }

        &-delete {
            font-size: 1.3rem;
            font-family: $font-info;
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 5px;
            cursor: pointer;

            &:hover {
                color: crimson;
            }
        }
    }
}

@media screen and ( max-width: 600px ) {
    .post-list {
        &__box {
            img {
                display: none;
            }

            &-username {
                margin: 0;
                padding-left: .5rem;
            }

            &-msg {
                margin: 0;
                padding-left: .5rem;
                
                label {
                    font-size: 1.5rem;
                }
            }

            &-time {
                font-size: 1rem;

            }
        }
    }
}