@import '../../../../styles/style.scss';

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 10px;
}



.header__secondary {
    width: 100%;
    height: 100%;
}

.header__secondary-actions {
    background: rgb(13, 118, 136);
    width: inherit;
    height: inherit;
}