
/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    width: 100vw;
    height: 100vh;
    transition: opacity .2s ease-in-out;
    z-index: 999;
    
}

.modal {
    width: 400px;
    height: 90%;
    position: block;
    background: white;
    border: crimson;
    box-shadow: 0px 0px 10px 5px crimson;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 1fr;
    overflow: hidden;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
    
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;

}

.modal__title {
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.modal__body {
    padding: 25px;
    // outline: 3px solid crimson;
    grid-column: 1/2;
    grid-row: 2/3;
}

.modal__body-group {
    display: flex;
    justify-content: space-between;
    // outline: 3px solid crimson;
    
}

.modal__body-text {
    // outline: 3px solid crimson;
    padding: 5px;
}

.modal__body-text-area {
    width: 200px;
    height: 30px;
    padding: 5px;
    overflow: auto;
    text-align: right;
}

.modal__footer {
    // outline: 3px solid crimson;
    // width: 100%;
    // height: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    // justify-content: center;
    padding: 10px;
    gap: 5px;
    // flex-wrap: wrap-reverse;
}

.modal__footer-btn-download {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: #449255;
    border-radius: 3px;
    color: #fff;

    transition: background .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal__footer-btn-download:hover {
    background: #4492558a;
    outline: 1.5px solid #449255;
    // transition: all .5s ease;
    color: #449255;
}

.modal__footer-btn-edit {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: #6b4492;
    border-radius: 3px;
    color: #fff;

    transition: background .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal__footer-btn-icon {
    display: block;
}

.modal__footer-btn-text {
    display: block;
}

.modal__footer-btn-edit:hover {
    background: #7c56a077;
    outline: 1.5px solid #6b4492;
    // transition: all .5s ease;
    color: #6b4492;
}

.modal__footer-btn-delete {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: #ee4869;
    border-radius: 3px;
    color: #fff;

    transition: background .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal__footer-btn-delete:hover {
    background: #ee486963;
    outline: 1.5px solid #ee4869;
    // transition: all .5s ease;
    color: #ee4869;
}

.modal__footer-btn-cancel {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: #d4c25a;
    border-radius: 3px;
    color: #fff;

    transition: background .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal__footer-btn-cancel:hover {
    background: #d4c25a69;
    outline: 1.5px solid #d4c25a;
    // transition: all .5s ease;
    color: #d4c25a;
}