@import '../styles/style.scss';

:root {
    --shadow: 3px 3px 10px 3px #03030323;
}

.admin__container {
    display: grid;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    outline: 3px solid #000;
    grid-template-columns: 70px 1fr;
    align-items: center;
}

.admin__sidebar {
    grid-column: 1/2;
}

.admin__main {
    grid-column: 2/3;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 100px 10px 1fr 20px;
    height: 100vh;
    background: #fff;
}

.admin__header {
    grid-column: 2/24;
    grid-row: 1/2;
    background: transparent;
    width: 100%;
    height: 100%;
    // box-shadow: var(--shadow);
}

.admin__header-info {
    grid-column: 12/24;
    grid-row: 1/2;
    background: #fff;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
}

.admin__body {
    grid-column: 2/24;
    grid-row: 3/4;
    background: #fff;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 15px 1px #dc143c;
    // margin: 5px;
    // margin-bottom: 15px;
}
